<ion-header>
  <ion-toolbar>
    <ion-title>Page A</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container">
  <div class="item-image">
    <ion-toolbar class="toolbar">
      <ion-button fill="clear"  slot="start"><ion-icon name="close-outline"></ion-icon></ion-button>
      <ion-title>Hot Teas</ion-title>
      <ion-button fill="clear" slot="end"><ion-icon name="star-outline"></ion-icon></ion-button>
    </ion-toolbar>

    <img src="https://tse2.mm.bing.net/th?id=OIP.KRHMiN01lq4pfRCeM8K7HQHaE8&pid=Api&P=0&w=239&h=160" alt="" class="product-image">
      
  </div>
  <hr width="10%" color="rgb(235, 104, 56)" style="margin-top: 0px; height: 4px;">
  <div class="item-info">
    <h2>Chai Latte</h2>
    <span>Black tea infused with cinnamon, clove and other warming spices is combined with streamed milk and topped with foam.</span>
    <h2>$2.65</h2>
  </div>
  
  <hr width="90%" color="#e8dbdb" style="margin-top: 0px; height: 2px;">

  <div class="place-order">
    <ion-card>Customizations</ion-card>
    <div class="options">
      <span class="customizations" style="margin-top: 10px;">Size</span>
      <span class="specification" style="margin-top: 10px;">Grande 16 fl oz ></span>
    </div>

    <hr width="90%" color="#e8dbdb" style="margin-top: 0px; height: 2px;">

    <div class="options">
      <span class="customizations">Add-Ins</span>
      <span class="specification">Regular Water ></span>
    </div>

    <hr width="90%" color="#e8dbdb" style="margin-top: 0px; height: 2px;">

    <div class="options">
      <span class="customizations">Espresso & Shot Options</span>
      <span class="specification"> ></span>
    </div>

    <hr width="90%" color="#e8dbdb" style="margin-top: 0px; height: 2px;">

    <div class="options">
      <span class="customizations">Flavours</span>
      <span class="specification"> ></span>
    </div>

    <hr width="90%" color="#e8dbdb" style="margin-top: 0px; height: 2px;">

    <div class="options">
      <span class="customizations">Tea</span>
      <span class="specification"> ></span>
    </div>

    <div class="address">
      <ion-input style="font-size: 14px; font-weight: 600;"><ion-button fill="clear" slot="start"><ion-icon name="home-outline"></ion-icon></ion-button>Street 8: Oak City: Fullerton...<ion-button fill="clear" slot="end"><ion-icon name="cart-outline"></ion-icon></ion-button></ion-input>
    </div>

    <button class="buttons" id="first">Add Item</button>
  </div>
</ion-content>