<ion-header [translucent]="true">
  
    <ion-toolbar class="toolbar">
      <ion-button fill="clear"  slot="start"><ion-icon name="arrow-back"></ion-icon></ion-button>
      <ion-title>Order</ion-title>
      <ion-button fill="clear" slot="end"><ion-icon name="search"></ion-icon></ion-button>
    </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true" style="background-color: black;">

  <ion-card class="product-nav">
    <div id="all-products">All Products</div>
    <div id="favorite">Favorite</div>
  </ion-card>

  <div class="info">
    <ion-card>DRINKS</ion-card>
    <ion-button id="button" fill="clear"  slot="start">See all 7 <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </div>

  <div class="drinks-and-food">
    <ion-card class="card">
      <img src="https://tse3.mm.bing.net/th?id=OIP.204ogclkDqLFjBVQFRU16gHaE_&pid=Api&P=0&w=232&h=157" alt="" class="product-image">
      <hr width="20%" color="rgb(235, 104, 56)" style="margin-top: 0px; height: 4px;">
      <p class="name">Hot Coffees</p>
    </ion-card>
    
    <ion-card class="card">
      <img src="https://tse2.mm.bing.net/th?id=OIP.KRHMiN01lq4pfRCeM8K7HQHaE8&pid=Api&P=0&w=239&h=160" alt="" class="product-image">
      <hr width="20%" color="rgb(235, 104, 56)" style="margin-top: 0px; height: 4px;">
      <p class="name">Hot Teas</p>
    </ion-card>

    <ion-card class="card">
      <img src="https://tse3.mm.bing.net/th?id=OIP.LWQAJaqNDNyTIJ1BYpUXXAHaLH&pid=Api&P=0&w=300&h=300" alt="" class="product-image">
      <hr width="20%" color="rgb(235, 104, 56)" style="margin-top: 0px; height: 4px;">
      <p class="name">Cold Drinks</p>
    </ion-card>

    <ion-card class="card">
    </ion-card>

    <ion-card class="card">
    </ion-card>

    <ion-card class="card">
    </ion-card>

    <ion-card class="card">
    </ion-card>
  </div>

  <div class="info">
    <ion-card>FOOD</ion-card>
    <ion-button id="button" fill="clear"  slot="start">See all 5 <ion-icon name="arrow-forward"></ion-icon></ion-button>
  </div>

  <div class="drinks-and-food">
    <ion-card class="card">
      <img src="https://tse2.mm.bing.net/th?id=OIP.xk6lANANmGr7ADGPLZ-5mAHaEK&pid=Api&P=0&w=273&h=154" alt="" class="product-image">
      <hr width="20%" color="rgb(235, 104, 56)" style="margin-top: 0px; height: 4px;">
      <p class="name">Hot Breakfast</p>
    </ion-card>
    
    <ion-card class="card">
      <img src="https://tse1.mm.bing.net/th?id=OIP.eNI3Z47bus0i8CrX10btNwHaHa&pid=Api&P=0&w=300&h=300" alt="" class="product-image">
      <hr width="20%" color="rgb(235, 104, 56);" style="margin-top: 0px; height: 4px;">
      <p class="name">Bakery</p>
    </ion-card>

    <ion-card class="card">
      <img src="https://tse3.mm.bing.net/th?id=OIP.YGzddtczXI736KRzZ5X4OQHaE8&pid=Api&P=0&w=260&h=174" alt="" class="product-image">
      <hr width="20%" color="rgb(235, 104, 56)" style="margin-top: 0px; height: 4px;">
      <p class="name">Snacks</p>
    </ion-card>

    <ion-card class="card">
    </ion-card>

    <ion-card class="card">
    </ion-card>

    <ion-card class="card">
    </ion-card>

    <ion-card class="card">
    </ion-card>
  </div>

  <div class="footer-nav">
    <ion-card>
      <ion-icon name="home"></ion-icon>
      <ion-icon name="card"></ion-icon>
      <ion-icon name="beer" id="order"></ion-icon>
      <ion-icon name="gift"></ion-icon>
      <ion-icon name="menu"></ion-icon>
    </ion-card>
  </div>
</ion-content>